/**** Variables ****/
:root {
	--blue: #222863;
	--light-blue: #7a7ea1;
	--lighter-blue: #81CFE0;
	--red: #9f1c20;
	--light-red: #c57779;
	--black: #1f1f1f;
	--fs-smaller: 16pt;
	--fs-normal: 20pt;
	--fs-big: 32pt;
	--fs-large: 44pt;
	--icon-big: 128px;
	--icon-huge: 256px;
}

/**** Helpers ****/
.blue {
	background: var(--blue);
	color: #fff;
}

.red {
	background: var(--red);
	color: #fff;
}

.text-red {
	color: var(--red);
}


.text-blue {
	color: var(--blue);
}

.full-width {
	display: block;
	width: 100%;
}

.pb-20 {
	padding-bottom: 20px;
}

.mt-40 {
	margin-top: 40px;
}

.no-scroll {
	overflow: hidden;
}

/**** Generic Styles ****/
.bullet-item p,
.quote p,
h1, h2,
section p,
#disqus_thread,
.tile-wrapper,
img.full-width,
ul,
.btn {
	font-family: "cooper-black-std", serif;
	font-size:  var(--fs-normal);
	max-width: 1000px;
	margin: 0 auto;
}

body:not(.page-home) section p,
img.full-width,
ul,
#disqus_thread {
	margin: 15px auto;
	font-family: work-sans, sans-serif;
	line-height: 23pt;
}

body:not(.page-home) section p strong {
	font-family: work-sans, sans-serif;
	line-height: 23pt;
	font-weight: 900;
}

body:not(.page-home) section p a {
	color: var(--lighter-blue);
	text-decoration: underline;
}
body:not(.page-home) section p a:hover {
	color: #558894;
	text-decoration: underline;
}

body:not(.page-home) .bullet-item {
	max-width: 1000px;
	margin: 10px auto 50px;
}
body:not(.page-home) .bullet-item p  {
	margin: 0 auto 15px 0;
}
body:not(.page-home) .bullet-item i  {
	width: calc(var(--icon-big) + 50px);
	text-align: center;
	margin-right: 15px;
}

nav a,
.quote p:nth-of-type(2),
footer {
	font-family: bebas-neue, sans-serif;
}

img{white-space:pre}

a {
	color: #fff;
}

h1 {
	font-size: var(--fs-large);
}

h2 {
	font-size: var(--fs-big);
	margin-top: 50px;
}

header img {
	display: block;
	margin: 75px auto;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 500px;
}

#subpage-logo {
	display: block;
	height: 75px;
	margin: 0;
}

body.page-home #subpage-logo {
	display: none;
}

body:not(.page-home) #logo {
	display: none;
}

/**** Buttons ****/
.btn {
	text-decoration: none;
	border-radius: 15px;
	text-align: center;
	padding: 15px;
	transition: all 0.3s;
}

	.btn.btn-white {
		background: #fff;
	}

	.btn.btn-white.text-red:hover {
		color: #fff;
		text-decoration: none;
		background: var(--light-red);
	}

	.btn.btn-white.text-blue:hover {
		color: #fff;
		text-decoration: none;
		background: var(--light-blue);
	}

	.btn.btn-blue {
		background: var(--blue);
		color: #fff;
	}

	.btn.btn-blue:hover {
		color: #fff;
		text-decoration: none;
		background: var(--light-blue);
	}

/**** Mobile Navigation ****/
#mobile-nav {
	display: none;
	position: fixed;
	top: 7px;
	left: 7px;
	right: 7px;
	z-index: 100;
}

	#mobile-nav-toggle {
		border: 2px solid var(--blue);
	}

	#mobile-nav-menu {
		overflow-y: hidden;
		position: fixed;
		top: 91px;
		left: 9px;
		right: 9px;
		border-radius: 0 0 15px 15px;
		height: 0;
		transition: height 0.2s;
		display: grid;
		background: #fff;
	}

	#mobile-nav-menu.visible {
		height: 360px;
		border: 2px solid var(--blue);
	}

		#mobile-nav-menu a {
			color: var(--blue);
			display: block;
			height: 45pt;
			line-height: 45pt;
		}

		#mobile-nav-menu a:hover {
			background: var(--light-blue);
			color: #fff;
		}

#mobile-nav-scrim {
	display: none;
	-webkit-backdrop-filter: blur(5px);
	-moz-backdrop-filter: blur(5px);
	-ms-backdrop-filter: blur(5px);
	-o-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}

#mobile-nav-scrim.visible {
	display: block;
}

/**** Main Styles ****/
body:not(.page-home) header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 125px;
	z-index: 10;
}

body:not(.page-home) nav {
	grid-template-columns: repeat(8, minmax(0, 1fr));
}

nav {
	padding: 22px 100px;
	display: grid;
	grid-template-columns: repeat(6, minmax(0, 1fr));
}

	nav a {
		font-size: var(--fs-normal);
		text-align: center;
		transition: all 0.3s;
		border-radius: 15px;
		padding: 7px;
		height: 56px;
	}
		nav a:hover {
			text-decoration: none;
			color: var(--light-blue);
		}

.page-home nav > a[href="/"] {
	background: #fff;
	color: var(--blue);
}

.page-toolkit nav > a[href="/toolkit"] {
	background: #fff;
	color: var(--blue);
}

.page-toolkit nav > a[href="/volunteer"] {
	background: #fff;
	color: var(--blue);
}

.page-facts nav > a[href="/facts"] {
	background: #fff;
	color: var(--blue);
}

.page-resources nav > a[href="/resources"] {
	background: #fff;
	color: var(--blue);
}

.page-about nav > a[href="/about"] {
	background: #fff;
	color: var(--blue);
}

.page-press nav > a[href="/press"] {
	background: #fff;
	color: var(--blue);
}

.page-comment nav > a[href="/comment"] {
	background: #fff;
	color: var(--blue);
}

main {
	margin-top: -241px;
	/*margin-bottom: -120px;*/
}

body:not(.page-home) main {
	margin-top: 0;
}

	section {
		padding: 50px 100px;
	}

	section:first-of-type {
		padding-top: 260px;
	}

	body:not(.page-home) section:first-of-type {
		padding-top: 150px;
	}

		.bullet-item {
			display: flex;
			margin: 90px auto;
		}

			.bullet-item i {
				font-size: var(--icon-big);
				width: var(--icon-big);
			}

			.bullet-item p {
				font-size: var(--fs-normal);
				margin-left: 60px;
				flex: 1;
			}

		.bullet-item.right {
			flex-direction: row-reverse;
		}

			.bullet-item.right p {
				margin-right: 27px;
				margin-left: 0;
			}

		#btn-facts {
			margin: 7px auto;
			display: block;
			width: 100%;
			max-width: 300px;
		}

	section.quote {
		font-size: 28px;
	}

		section.quote i {
			font-size: var(--icon-huge);
			opacity: 0.2;
		}

		section.quote p:first-of-type {
			top: -200px;
			position: relative;
			margin-bottom: -100px;
		}

		section.quote p:nth-of-type(2) {
			text-align: right;
			margin-top: -200px;
		}

	#sign-wrapper {
		margin-bottom: 90px;
	}

	#toolkit-wrapper {
		margin-bottom: 45px;
	}

.tile-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
	grid-gap: 10px;
}

	.tile {
		width: 256px;
		border-radius: 15px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
	}

		.tile:first-of-type {
			margin-left: 0;
		}

		.tile-thumb {
			height: 256px;
			overflow: hidden;
			color: var(--red);
			background: #fff;
			text-align: center;
			line-height: 256px;
			flex: 1;
		}

			.tile-thumb i {
				font-size: var(--icon-big);
			}

			.tile-thumb img {
				width: 256px;
			}

		.tile p {
			text-align: center;
			background: #fff;
			color: var(--black);
			margin: 0 !important;
			padding: 7px;
		}

		.tile-links {
			text-align: center;
			background: #fff;
			color: var(--black);
			margin: 0;
			padding: 7px;
			font-size: var(--fs-smaller);
			border-radius: 0 0 15px 15px;
		}

			.tile-links a {
				color: var(--black);
				font-size: var(--fs-smaller);
			}

.footer-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 15px;
}

		.footer-logo {
			align-self: center;
			margin-left: 5%
		}

		.left {
			flex-grow: 1;
			font-size: 22pt;
			font-weight: bold;
			line-height: .9;
		}

		.left-sub {
			flex-grow: 1;
			font-size: 12pt;
			vertical-align: top;
		}

		.right {
			flex-grow: 0;
			line-height: 1.2;
			align-self: center;
			text-align: right;
			margin-right: 5%;
		}

/**** Fix it on Smaller Screens ****/
@media screen and (max-width: 1024px){
	nav {
		padding: 22px 0;
	}
		nav a {
			font-size: calc(var(--fs-normal) - 10%);
		}
}

@media screen and (max-width: 800px){
	nav {
		padding: 22px 0;
	}
		nav a {
			font-size: calc(var(--fs-normal) - 10%);
		}

	h1 {
		font-size: calc(var(--fs-large) - 15pt);
	}
}

@media screen and (max-width: 768px){
	nav {
		padding: 22px 0;
	}
		nav a {
			font-size: calc(var(--fs-normal) - 15%);
		}
}

@media screen  and  (max-width: 600px){
	body:not(.page-home) section:first-of-type {
		padding: 150px 20px;
	}

	nav {
		display: none;
	}

	#mobile-nav {
		display: block;
	}

	header {
		padding-top: 60px;
	}

	.bullet-item {
		display: block;
	}

		.bullet-item i {
			display: block;
			margin: 0 auto;
			width: calc(var(--icon-big) + 33px);
			margin-right: auto !important;
		}

		.bullet-item p  {
			margin: 10px auto;
			text-align: center;
		}

		.bullet-item.right p {
			margin: 10px auto;
		}

	h2 {
		font-size: calc(var(--fs-big) - 46%);
	}
}

@media  screen and (max-width: 500px){
	#mobile-nav-menu {
		top:  85px;
	}

	section {
		padding: 50px 20px !important;
	}

	body.page-home section:first-of-type {
		padding-top: 240px !important;
	}

	body:not(.page-home) section:first-of-type {
		padding: 150px 20px !important;
	}

	.bullet-item i {
		font-size: calc(var(--icon-big) / 1.5);
		width: calc((var(--icon-big) / 1.5) + 33px);
	}

	.bullet-item p,
	.quote p,
	.btn {
		font-size: calc(var(--fs-normal) - 25%);
	}

	.quote p:first-of-type  {
		text-align: center;
	}

	h1 {
		font-size: calc(var(--fs-large) - 27pt);
	}

	#sign-wrapper p,
	#toolkit-wrapper p {
		font-size: calc(var(--fs-normal) - 35%);
	}

	.tile {
		width: 100%;
	}

		.tile-thumb img {
			width: 100%;
		}

	.footer-wrapper {
		display: block;
		padding-bottom: 15px;
	}

		.footer-logo {
			margin: 0 auto;
			display: block;
		}

		.footer-wrapper .left,
		.footer-wrapper .right  {
			text-align: center;
			margin: 15px auto;
			width: 100%;
		}
}

@media screen  and (max-width: 400px){
	header img {
		width: 100%;
	}

	h2 {
		font-size: calc(var(--fs-big) - 71%);
	}
}

@media screen  and (max-width: 320px){
	h2 {
		font-size: calc(var(--fs-big) - 107%);
	}
}